html, body {
    font-family: Arial, sans-serif;
    color: #222;
}

.center {
    display: block; /*  */
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#logo-search {
    display: block;
    height: 233px;
    margin-top: 89px;
}

#mainlogo {
    height: 92px;
    width: 272px;
    padding-top: 109px;
    padding-left: 25%;
    padding-right: 25%;
    margin-left: 25%;
    margin-right: 25%;
}

#searchbox {
    padding-left: 25%;
    padding-right: 25%;
}

