html, body {
    font-family: Arial, sans-serif;
    color: #222;
}

#viewport {
    height: 100%;
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 0;
    margin-top: 89px;
}

#logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div > img {
    height: 92px;
    width: 272px;
    padding-top:109px;
}

#searchbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#boxBorder {
    
}

#btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
}