html, body {
    font-family: Arial, sans-serif;
    color: #222;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
input > #textbox {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    margin-top: -37px;
}
#logo-search {
    display: block;
    height: 233px;
    margin-top: 89px;
}

#mainlogo {
    height: 92px;
    width: 272px;
    padding-top: 109px;
    padding-left: 25%;
    padding-right: 25%;
}

#searchbox {
    padding-left: 25%;
    padding-right: 25%;
}

